


/* index.js required */
.hidden{
    display: none;
}
/**/

body{
    position: relative;
}

.container{
    width: 1120px;
    height: 100%;
    margin: auto;
}

.main{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url("../images/header.jpg");
    color: #ccc;
}

.main .wrapper{
    background: rgba(34, 40, 49, 0.8);
    height: 100%;
}

.main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main h1{
    font-size: 48px;
    margin-bottom: 25px;
}

p{
    width: 75%;
    margin-bottom: 150px;
    line-height: normal;
}

.login-block{
    align-self: center;
}

.login-block .btn{
    display: inline-block;
    padding: 15px 25px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: background, color, box-shadow 500ms;
    -moz-transition: background, color, box-shadow 500ms;
    -ms-transition: background, color, box-shadow 500ms;
    -o-transition: background, color, box-shadow 500ms;
    transition: background, color, box-shadow 500ms;
}

.login-block .login-btn{
    background: #00adb5;
    -webkit-box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 15px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 15px 5px rgba(50, 50, 50, 0.75);
}

.login-block .login-btn:hover{
    background: #267B80;
    -webkit-box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 0 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 0 0 rgba(50, 50, 50, 0.75);
}

.login-block .signup-btn{
    color: #393e46;
    background: #ccc;
    border: 1px solid #393e46;
    -webkit-box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 15px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 15px 5px rgba(50, 50, 50, 0.75);
}

.login-block .signup-btn:hover{
    color: #ccc;
    background: transparent;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 0 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 0 0 rgba(50, 50, 50, 0.75);
}

.login-block .login-about{
    margin-top: 10px;
    text-align: center;
}

/* login/signup */
.close-btn{
    position: absolute;
    right: 25px;
    top: 75px;
    width: 50px;
    height: 50px;
    background: url("../images/close.png");
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
}

.login-container{
    position: relative;
    box-sizing: padding-box;
    z-index: 2;
}

.login, .signup{
    position: absolute;
    margin: 50px auto;
    background: #ccc;
    height: max-content;
}

.login h2, .signup h2{
    text-align: center;
    margin: 25px 0;
    font-size: 36px;
}

.login-container form{
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login-container form label{
    font-size: 24px;
    margin-bottom: 10px;
}

.login-container form input:not([type="submit"]), .login-container form select{
    padding: 10px;
    margin-bottom: 10px;
}

.login-container form input[type="submit"]{
    padding: 10px;
    cursor: pointer;
    color: #ccc;
    background: #00adb5;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    -webkit-transition: background, color 500ms;
    -moz-transition: background, color 500ms;
    -ms-transition: background, color 500ms;
    -o-transition: background, color 500ms;
    transition: background, color 500ms;
}
.login-container form input[type="submit"]:hover{
    color: #00adb5;
    background: #ccc;
    border: 1px solid #00adb5;
}

/* Tests page */
.tests-header{
    width: 99%;
    height: 60px;
    margin: auto;
    background: #ccc;
}

.tests-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tests-header h1{
    font-size: 36px;
    align-self: center;
    font-family: Oswald, serif;
    color: #043965;
}

.tests-header-links{
    display: flex;
}

.tests-header-links a{
    padding: 10px;
    font-family: "Open Sans", serif;
}

.tests-header-links .username{
    padding: 10px;
    font-family: "Open Sans", serif;
    font-weight: bold;
}

.tests{
    background: #ccc;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 30px;
}

.tests h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-family: Oswald, serif;
    color: #043965;
}

.tests .test-link{
    background: #fff;
    padding: 30px;
    display: block;
    width: calc(100% - 60px);
    font-size: 24px;
    color: #043965;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.tests .test-done{
    color: #ffffff;
    background: #25ae88;
    pointer-events: none;
}

.tests .test-link:hover{
    background: #043965;
    color: #fff;
    cursor: pointer;
}

.tests .test-help{
    background: #ccc;
    padding: 30px;
    width: calc(100% - 60px);
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
    color: #043965;
    border: 1px dashed #043965;
}

.tests .special-color{
    background: #25ae88;
}

.test-block{
    display: flex;
    align-items: center;
}

.test-block .block-elem{
    padding: 10px 30px;
    background: #fff;
    border-top: 1px solid #043965;
    margin: 0 5px 30px 0;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.test-block .block-elem:hover{
    border-top: 1px solid #043965;
    background: #fff;
}

.test-block .done-block-elem{
    color: #ffffff;
    background: #25ae88;
}

.test-block .done-block-elem:hover{
    cursor: default;
    color: #ffffff;
    background: #25ae88;
}

.test-block .closed-block-elem{
    color: #ffffff;
    background: #990000;
}

.test-block .closed-block-elem:hover{
    cursor: default;
    color: #ffffff;
    background: #990000;
}

/* Test page */

.question{
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}

.answer{
    display: flex;
    margin: 10px 5px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #000;
    align-items: center;
    flex-direction: row;
}

.tests input[type=radio], .tests input[type=checkbox]{
    width: 0;
    margin: 0;
    padding: 0;
    height: 0;
    position: absolute;
}

.tests input[type=radio]:checked + label, input[type=checkbox]:checked + label {
    color: white;
    background: #25ae88;
    border: 1px solid transparent;
}

.tests input[type=text]{
    margin-top: 10px;
    padding: 10px;
}

.tests input[type=text] + label{
    display: none;
}

.tests textarea{
    width: calc(100% - 20px);
    height: 150px;
    margin: 10px auto 0 auto;
    padding: 10px;
    resize: none; /* Запрещаем изменять размер */
    font-size: 16px;
}

.test .send-result{
    color: white;
    background: #25ae88;
    border: 1px solid #25ae88;
    display: block;
    margin: auto;
    text-align: center;
    padding: 15px 50px;
    margin-top: 30px;
    box-sizing: padding-box;
}

.test .send-result:hover{
    cursor: pointer;
    border: 1px solid #25ae88;
    background: white;
    color: #25ae88;
}

/* admin */
.groupsController{
    display: flex;
    flex-direction: row;
    height: 275px;
}

.addGroupBlock{
    border: 1px solid white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addGroupBlock input[type=submit]{
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #000;
}

.groupList{
    border: 1px solid white;
    padding: 25px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.groupList .group{
    margin: 10px;
}
