/* xs - устройства (до 576px) */
@media (max-width: 576px) {
    /* CSS для ширины, которая меньше 575px (включительно) */
    .container{
        width: 90%;
        margin: auto;
    }

    .main h1{
        text-align: center;
    }

    .main p{
        width: 100%;
    }


    .login-block .btn{
        display: block;
        padding: 15px 25px;
        font-size: 18px;
        margin: 10px 0;
    }


    /* login/signup */
    .login h2, .signup h2{
        margin: 15px 0;
        font-size: 26px;
    }

    .login-container form label{
        font-size: 20px;
    }

    .close-btn{
        top: 17px;
        right: 30px;
        width: 25px;
        height: 25px;
    }

    .login-container{
        width: 90%;
        margin: auto;
    }

    .login-container form{
        width: 90%;
        margin: auto;
    }

    .login, .signup{
        top: 10px;
        left: 5%;
    }

    .tests{
        margin-top: 10px;
    }

    .funcTestForm>div>label{
        font-size: 18px;
    }

    .funcTestForm>div>input{
        font-size: 18px;
    }

    .tests .test-link{
        font-size: 18px;
    }

    .test-block{
        overflow-x: scroll;
    }
}

/* sm-устройства (больше или равно 576px) */
@media (min-width: 576px) {
    /* CSS для: 576px <= ширины <= 767px */
    .container{
        width: 560px;
    }

    .main h1{
        text-align: center;
    }

    .main p{
        width: 100%;
    }

    .groupsController{
        flex-direction: column;
        height: auto;
    }

    /* tests */
    .tests .test-help{
        line-height: 20px;
    }
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
    /* CSS для: 768px <= ширины <= 991px */
    .container{
        width: 760px;
    }

    .groupsController{
        flex-direction: row;
        height: inherit;
    }

    .saveTimeBlock div{
        display: flex;
        flex-direction: column;
    }
}

/* до 992px */
@media (max-width: 992px) {


    /* tests */
    .tests .test-help{
        line-height: 20px;
    }

    .tests-header{
        align-items: center;
    }

    .tests-header h1{
        font-size: 20px;
        text-align: center;
    }

    .tests-header-links a{
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .tests-header-links .username{
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 5px 0 0;
    }

    .test-block{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
    }

    .test-block .block-elem{
        width: 100%;
        border: 1px solid #000;
        padding: 10px 20px;
        margin: 2px;
    }

    .groupsController{
        flex-direction: column;
        height: auto;
    }
}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 992px) {
    /* CSS для: 992px <= ширины <= 1119px */
    .container{
        width: 960px;
    }

    .saveTimeBlock div{
        display: block;
        flex-direction: row;
    }

    .health-block-elem{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
    }

    .health-block-elem .block-elem{
        width: 100%;
        border: 1px solid #000;
        padding: 10px 20px;
        margin: 2px;
    }
}



/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1200px) {
    /* CSS для: ширины >= 1200px */
    .container{
        width: 1120px;
    }
}